<a href="https://colab.research.google.com/github/uttardepratu/Basic-Python-/blob/main/Assiangment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
- * 
-'hello'
-87.8
- / 
- +
-6 
- -

In [ ]:
#Ans. Values: 'hello', 87.8, 6

#Expression: *,/,+,-

2.What is the difference between string and variable?

In [ ]:
#Ans.Variable: It is container, when we put value. eg. x=2, here x is a variable(container) contain value 2.

#Strings: It is a text values composed of a sequence of characters. and string always coated with double or single coat. 
#eg. "Pratiksha", here my name pratiksha is a string value.

3.Describe three different data types.

Ans. In python programming we have Built In Datatype and user defined datatype...

-Built In Datatype: 1.strings 2.List 3.Tuple 4.Range 5.Numeric 6.Sets 7.None

1.List:It is a datatype contains string, integer, operators, etc and separated by comma and use a square brackets. it is a mutable.

2.None:The variable are not assiagned by any value.

3.Tuple:It is same like List but it is immutable. It is a datatype contains string, integer, operators, etc and separated by comma and use a open brackets.

4. What is an expression made up of? What do all expressions do?

Ans. An expression is made up of identifiers, operators, and operands.
An identifier is a name that is used to define and identify a class, variable, or function in Python.
An operand is an object that is operated on. 
operator is a special symbol that performs the arithmetic or logical computations on the operands.

In [ ]:
#eg. below is one expression we make from x, y operands and addition operator
x = 10
y = 5

addition = x + y
print(addition)

15

5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Expression:The expression in Python produces some value or result after being interpreted by the Python interpreter. An expression in Python is a combination of operators and input value.

Statement: A statement is not evaluated for some results. A statement is used for creating variables or for displaying values.

In [ ]:
#statement
spam=10
#Expression is suppose x
x=spam+10

print(x)

20

6.After running the following code, what does the variable bacon contain?

In [ ]:
bacon = 22
bacon + 1

23

In [ ]:
print(bacon)

22

still bacon variable contain 22, bcz we r not store (bacon + 1) in that variable.

7.What should the values of the following two terms be?

In [ ]:
x='spam' + 'spamspam'
y='spam' * 3

In [ ]:
print(x, y)

spamspamspam spamspamspam

so the output of both x and y are same. bcz the operator are different but works similar in this case.

8. Why is eggs a valid variable name while 100 is invalid?

Ans. Because we can not use integer as a variable.or
We should not use reseve numbers/digits as a variable.

In [ ]:
eggs=2+5
eggs

7

In [ ]:
100=2+5
100

SyntaxError: ignored

9.What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans. the functions we require to get integer is int(), to get floating_point number is float(), and for getting string function used is str()

In [1]:
float(100)

100.0

In [2]:
v=100
integer=int(v)
float_pt= float(v)
string=str(v)
print(integer, float_pt, string)

100 100.0 100

this is in jupyter noebook.

![Screenshot (757).png]()

10. Why does this expression cause an error? How can you fix it?

In [ ]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [ ]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'