<a href="https://colab.research.google.com/github/uttardepratu/Basic-Python-/blob/main/Assiangment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What are the two values of the Boolean data type? How do you write them?

Ans.two values of Boolean data type are: True and False. 
this r write using capital T and F, with the rest of the word in lowercase

we can take there meaning as 1 and 0.

2. What are the three different types of Boolean operators?

The three basic boolean operators are: AND, OR, and NOT.

3.Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate).

In [ ]:
a=True and True 
b=True and False
c=False and True 
d=False and False
e=True or True 
f=True or False
g=False or True
h=False or False
i=not True
j=not False
print(list[a,b,c,d,e,f,g,h,i,j])

list[True, False, False, False, True, True, True, False, False, True]

4. What are the values of the following expressions?

In [ ]:
(5 > 4) and (3 == 5)

False

In [ ]:
not (5 > 4)

False

In [ ]:
(5 > 4) or (3 == 5)

True

In [ ]:
not ((5 > 4) or (3 == 5))

False

In [ ]:
(True and True) and (True == False)

False

In [ ]:
(not False) or (not True)

True

5. What are the six comparison operators?

the six comparison operator in Python

1) ==	Equal	
2) !=	Not equal		
3) >	Greater than	
4) <	Less than	
5) >=	Greater than or equal to		
6) <=	Less than or equal to

6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

-assignment operator(=)that helps to assign values or expressions.

-Equal to(==) that help to compare to variables and gives o/p as True or False.

In [ ]:
x = 5 #here we assiagn 5 to operand x
y = 3  #here we assiagn y to operand y

print(x == y)  #here we compare 2 variable

False

7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')

In [ ]:
spam = 0
if spam == 10:
  print('eggs')
if spam > 5:
  print('bacon')
else:
  print('ham')
  print('spam')
  print('spam')

ham
spam
spam

so, in this code we have 3 blocks mean we used 3 comparison operator

1)first block contain condition spam==10

2)second block cotain condition spam>5 and

3)third block contain condition spam<5

in our case we gave spam=0
so 3rd condition is satisfy and it print 'ham','spam' and again 'spam'.

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [ ]:
spam = 3
if spam == 1:
  print('Hello')
if spam == 2:
  print('Howdy')
else:
  print('Greetings')

Greetings

9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

if our programme is get into an endless loop, then we have to use CTRL + C key to stop the loop.

10. How can you tell the difference between break and continue?

Break:A break statement in Python alters the flow of a loop by terminating it once a specified condition is met.

Continue: The continue statement in Python is used to skip the remaining code inside a loop for the current iteration only.

maim difference between both of them is they work opposite to each other.

In [ ]:
# Break statement
for num in range(0,10):
    if num == 5:
        break
    print(f'Iteration: {num}')

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

In [ ]:
# Continue statement 
for num in range(0,10):
    if num == 5:
        continue
    print(f'Iteration: {num}')

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 6
Iteration: 7
Iteration: 8
Iteration: 9

In [ ]:
# the sode contains both break and continue statement
for k in range(0,4):
  if k==2:
    continue
  print(f'Outer For Loop Iteration: {k}')
  for num in range(0,10):
        if num == 2:
            break
        print(f'--Inner For Loop Iteration: {num}')

Outer For Loop Iteration: 0
--Inner For Loop Iteration: 0
--Inner For Loop Iteration: 1
Outer For Loop Iteration: 1
--Inner For Loop Iteration: 0
--Inner For Loop Iteration: 1
Outer For Loop Iteration: 3
--Inner For Loop Iteration: 0
--Inner For Loop Iteration: 1

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Ans. There is no any difference in between above range fuction.
bcz if we r not specify anything in range i.e.range(10) then bydefault the range fuction start with 0, and there is bydefault difference in range is 1.

In [ ]:
range(10)

range(0, 10)

In [ ]:
range(0,10,1)

range(0, 10)

In [ ]:
a=range(5,60,2)
a #here we specify range from 5 upto 60 by taking differece of 2

range(5, 60, 2)

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [ ]:
#for loop
for num in range(1,11):
  print(f'Iteration: {num}')

Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 8
Iteration: 9
Iteration: 10

In [ ]:
#while loop
num = 1
while num <= 10:
  print(num)
  num += 1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

Ans. We called becon from spam module is: spam.bacon()

In [5]:
#This function can
import spam
print(spam.bacon(2,4))

-2