<a href="https://colab.research.google.com/github/uttardepratu/Basic-Python-/blob/main/Assiagnment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What exactly is []?

Ans. [] is a list.
 A mutable collection of values, usually of the same type or also contain different datatype values. 
 it is opposite to tuple.

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [ ]:
spam=[2,4,6,8,10]
spam

[2, 4, 6, 8, 10]

In [ ]:
spam[3]='hello'
spam

[2, 4, 6, 'hello', 10]

Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

3. What is the value of spam[int(int('3' * 2) / 11)]?

In [ ]:
spam=['a','b','c','d']
spam

['a', 'b', 'c', 'd']

In [ ]:
spam[int(int('3' * 2) / 11)]

'd'

4. What is the value of spam[-1]?

In [ ]:
spam[-1]

'd'

5. What is the value of spam[:2]?

In [ ]:
spam[:2]

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.
6. What is the value of bacon.index('cat')?

In [ ]:
bacon=[3.14,'cat',11,'cat',True]

In [ ]:
bacon.index('cat') #it considered first incoming value from list.

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [ ]:
bacon.append(99)

In [ ]:
bacon   #it will add 99 in the last index

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [ ]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

In [ ]:
#it remove the value wwhich comes first in a list if that values are twice in a list

9. What are the list concatenation and list replication operators?

Ans.The operator for concatenation is +, while the operator for replication is *.
this both are use in case of list.

In [ ]:
l1=[1,2]
l2=[3,4]
print (l1+l2)

[1, 2, 3, 4]

In [ ]:
l1=[1,2,'pratiksha','python']
print (l1 * 3)

[1, 2, 'pratiksha', 'python', 1, 2, 'pratiksha', 'python', 1, 2, 'pratiksha', 'python']

In [ ]:
l1=[1,2]
l2=[3,4]
print (l1*3)

[1, 2, 1, 2, 1, 2]

10. What is difference between the list methods append() and insert()?

Ans. While append() will add values only to the end of a list, insert() can add them anywhere in the list.

In [ ]:
l1=[1,2,'pratiksha','python']
l1.append(3)
l1.insert(3,9) #insert 9 at 3rd index in list

In [ ]:
l1 #this is my l1

[1, 2, 'pratiksha', 9, 'python', 3]

11. What are the two methods for removing items from a list?:

Ans.The del statement and the remove() list method are two ways to remove values from a list.

In [ ]:
l1.remove('pratiksha')  #remove 'pratiksha' from list 
l1

[1, 2, 9, 'python', 3]

In [ ]:
# deleting the third item
del l1[2]

In [ ]:
l1

[1, 2, 'python', 3]

12. Describe how list values and string values are identical.

Both lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the in and not in operators.

13. What's the difference between tuples and lists?

Ans. Lists are mutable; they can have values added, removed, or changed. 

Tuples are immutable; they cannot be changed at all. Also, tuples are written using parentheses, (), while lists use the square brackets, [].

14. How do you type a tuple value that only contains the integer 42?

In [ ]:
tup=(42)
tup

42

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

The tuple() and list() functions, respectively.

In [ ]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3)

In [ ]:
my=('tutorials', 'point', 2022,True)
print(my)
lis=list(my)
lis

('tutorials', 'point', 2022, True)

['tutorials', 'point', 2022, True]

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

They contain references to list values.

In [80]:
Variable='list'
Variable
type(Variable)

str

17. How do you distinguish between copy.copy() and copy.deepcopy()?

The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.

In [81]:
l1

[1, 2, 'python', 3]

In [85]:
import copy

In [89]:
c=copy.copy(l1)
print("lis ID: ", id(c), "Value: ", c)

lis ID:  140684884902592 Value:  [1, 2, 'python', 3]

In [90]:
d=copy.deepcopy(l1)
print("list ID: ", id(d), "Value: ", d)

list ID:  140684884911680 Value:  [1, 2, 'python', 3]